.emotion {
    color: #aaa;
    font-size: 4rem;
    letter-spacing: .8rem;
}

header {
    padding-bottom: 2rem;
}

section {
    padding-bottom: 2rem;
}

.chat * {
    display: inline;
}
*[data-person='jeannie'] {
    font-family: Open Sans;
}

*[data-person='tech'] {
    font-family: 'Courier New', Courier, monospace;
}

*[data-person='lucien'] {
    font-family: Open Sans;
    letter-spacing: .5rem;
}

.emotion[data-person='lucien'] {
    font-family: Open Sans;
    letter-spacing: 1.2rem;
}

