.hide {display: none;}

.emotion {
    color: #aaa;
    font-size: 4rem;
    letter-spacing: .8rem;
}

.cell.break {
    content: "";
    display: table;
    clear: both;
}

.frame .img-container {
    border: 3px solid gray;
}

.frame .img-container img {
    cursor: move;
}

header {
    padding-bottom: 2rem;
}

section {
    padding-bottom: 2rem;
}

button:hover {
    cursor: pointer;
}

.chat * {
    display: inline;
}
*[data-person='jeannie'] {
    font-family: Open Sans;
}

*[data-person='tech'] {
    font-family: 'Courier New', Courier, monospace;
}

*[data-person='lucien'] {
    font-family: Open Sans;
    letter-spacing: .4rem;
    padding-bottom: 2rem;
}

*[data-person='dean'],
*[data-person='dean'] * {
    font-family: 'Times New Roman', Times, serif;
}
.emotion[data-person='lucien'] {
    font-family: Open Sans;
    letter-spacing: 1.5rem;
}

